body {
    background-color: rgb(238, 238, 238);
}

/* .stage-selector {
    background-color: rgb(244, 244, 244);
} */

.container {
    padding-top: 30px;
}

.intro-row {
    padding-bottom: 25px;
}

text, .title-text, .gen-text {
    font-family: Consolas, courier;
    fill: rgb(103, 128, 159);
    color: rgb(103, 128, 159);
}

.title-text {
    font-size: 20px;
}

.title {
    padding-left: 50px;
}

.placeholder-text {
    font-style: italic;
    fill: rgb(191, 191, 191);
}

.loading-placeholder {
    padding-left: 180px;
    padding-top: 75px;
}

.bfn-mdl-card.mdl-card {
    min-height: 0px;
    height: 200px;
    width: 256px;
}

.bfn-mdl-card > .mdl-card__title {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
} 

/* .bfn-mdl-card > .bfn-card-title-header {
}

.bfn-mdl-card > .bfn-card-title-text {
} */

.bfn-supp-text-plus {
    color: rgb(46, 204, 113);
}

.bfn-supp-text-minus {
    color: rgb(226, 106, 106);
}

/* .bfn-content {
    padding-left: 50px;
} */

.stage-overview-mdl-card.mdl-card {
    width: 100%;
}

.stage-overview-mdl-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}

.stage-container > .row {
    overflow-x: auto;
    white-space: nowrap;
  }

.stage-container > .row > .col-4 {
    display: inline-block;
    float: none;
}

.stage-card {
    height: 200px;
}

.stage-angle {
    margin-top: 50px;
}

.mdl-button-text {
    color: rgb(238, 238, 238);
}


#timeline .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

#timeline .area {
    /*fill: #969696;*/
    fill: steelblue;
}

#timeline .attention {
    background: yellow;
    margin: -4px;
    padding: 4px;
}

.barChart .bar {
    fill: steelblue;
}
.barChart .x.axis path {
    display: none;
}
#gates .x.axis text {
    text-anchor: end;
}

#gates svg {
    overflow: visible;
}

