body {
	background-color: white;
	color: black;
}

rect:hover {
	fill: orange;
}

.area {
			fill: teal;
			stroke: none;
		}

		.line {
			fill: none;
			stroke: teal;
			stroke-width: 0.5;
		}

		.safeLevel {
			stroke: red;
			stroke-dasharray: 2, 3;
		}

		.danger {
			fill: red;
		}

		.dangerLabel {
			font-family: Helvetica, sans-serif;
			font-size: 12px;
			fill: red;
		}