body {
	background-color: white;
	color: black;
}

.area {
			fill: teal;
			stroke: none;
		}

.line {
			fill: none;
			stroke: teal;
			stroke-width: 0.5;
		}

#chart1	.attention {
  background: yellow;
  margin: -4px;
  padding: 4px;
}